<section class="container text-center" id="header">
    <h1 class="display-6" id="title">Glowing Buttons Hover Effect</h1>
</section>

<div id="whole-html-simulator">
    <div id="body">        
        <a href="#" (click)="$event.preventDefault()" style="--button-bgr-clr:#1e9bff">
            <span>Button</span>
            <i></i>
        </a>
        <a href="#" (click)="$event.preventDefault()" style="--button-bgr-clr:#6eff3e">
            <span>Button</span>
            <i></i>
        </a>
        <a href="#" (click)="$event.preventDefault()" style="--button-bgr-clr:#ff1867">
            <span>Button</span>
            <i></i>
        </a>
    </div>
</div>